{% block mairie %}
    <div class="" style="height: 100%;">
        <nav class="navbar navbar-default" >
            <div class="container-fluid">
                <div class="navbar navbar-fixed-left">
                    <p class="navbar-brand">ESPACE MAIRIE</p>
                </div>
                <div id="accordion">
                    <ul class="nav nav-pills nav-stacked">
                        <div class="card">
                            <div class="card-header nav" id="headingOne">
                                <h5 class="mb-0">
                                    <li><a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                           aria-expanded="false" aria-controls="collapseOne" role="button">
                                            Espace offreur
                                        </a></li>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body nav">
                                    <li><a href="{{ path('ls_imarket_mes_annonces') }}">Mes annonces</a></li>
                                    <li><a href="{{ path('ls_imarket_annonce_reservee') }}">Réservation sur mes annonces</a></li>
                                    {#<li><a href="#">Consulter</a></li>#}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header nav" id="headingTwo">
                                <h5 class="mb-0">
                                    <li><a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo" role="button">
                                            Espace demandeur
                                        </a></li>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body nav">
                                    <li><a href="{{ path('ls_imarket_reservation') }}">Mes réservations</a></li>
                                    <li><a href="{#{{ path('#') }}#}">Mes commandes</a></li>
                                    {#<li><a href="#">Consulter</a></li>#}
                                </div>
                            </div>
                        </div>
                       {# <button class="btn btn-success" onclick="msgview()">Messages reçus</button>#}
                        <a class="btn btn-success btn-sm"  href="{{ path('ls_imarket_traitement_msgrecu') }}" style="position: relative; left: 15px">Messagerie</a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock mairie %}
